body {
	padding:0;
	margin:0;	
}
#wrapper {
	position:relative;
	display:block;
	margin:0 auto;
	padding:0;
}

header, footer {
	position:fixed;
	top:0;
	left:0;
	background:#fff;
	padding:10px 0;
	width:100%;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:22px;
	color:#444;
	font-weight:lighter;
	text-align:center;
	box-shadow:0 0 7px #777;
	z-index:999;
	opacity:0.7;
}
#intro {
	position:absolute;
	width:90%;
	padding:0 5%;
	top:90px;
	right:50%;
	margin-right:-150px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:22px;
	color:#fff;
	font-weight:normal;
	text-align:center;
}
#contentTiles {
	position:relative;
	display:block;
	padding:60px 0 0 0;
}
#contentTiles > div {
	position:absolute;
	float:left;
	top:1000px;
	margin:5% 0 0 5%;
	width:40%;
	height:120px;
	border:2px solid #777;
	border-radius:15px;
	transition:all 3s;
	background:#444;
	opacity:0.9;
}
#contentTiles > div.tileSml {
	position:relative;
	top:auto;
	height:70px;
}
#contentTiles > div.tileLge {
	position:relative;
	top:auto;
	height:150px;
}
.tileTxt > img, .tileVid > img, .tileImg > img {
	width:30px;
	height:auto;
	position:absolute;
	top:50%;
	margin-top:30px;
	left:50%;
	margin-left:-15px;
}
.tileAud > img {
	width:90px;
	height:auto;
	position:absolute;
	top:50%;
	margin-top:10px;
	left:50%;
	margin-left:-45px;
}
.clr {
	clear:both;	
}

footer {
	top:auto;
	height:50px;
	bottom:-90px;
}

.theBtn {
	position:fixed;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:25px;
	color:#fff;
	font-weight:lighter;
	width:300px;
	right:50%;
	top:auto;
	bottom:70px;
	margin-right:-150px;
	padding: 10px 0;
	border-radius:15px;
	text-align:center;
	z-index:1000;
}

.grn {
	text-shadow:0 -1px 1px #360;
	background:#690;
	border:2px solid #360;
	box-shadow:0 4px 20px #99BE34 inset;
}
.gry {
	color:#777;
	text-shadow:0 -1px 1px #eee;
	background:none;
	border:none;
	box-shadow:none;
}

#mainAudio {
	position:relative;
	left:-3000px;
	width:10px;
	height:10px;
}

#bg1 {
	position:fixed;
	top:0;
	left:0;
	width:620px;
	height:620px;
	z-index:0;
	overflow:hidden;
}
#bg1 img {
	position:fixed;
	height:510px;
	width:auto;
}